@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
   font-family: 'GmarketSansTTF';
   font-style: normal;
   font-weight: 400;
   src: url(../fonts/GmarketSansTTFLight.ttf) format('ttf'),
        url(../fonts/NotoSansKr/NotoSansKR-Regular.woff2) format('woff2'),
        url(../fonts/NotoSansKr/NotoSansKR-Regular.woff) format('woff'),
        url(../fonts/NotoSansKr/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
   font-family: 'GmarketSansTTF';
   font-style: normal;
   font-weight: 500;
   src: url(../fonts/GmarketSansTTFMedium.ttf) format('ttf'),
        url(../fonts/NotoSansKr/NotoSansKR-Medium.woff2) format('woff2'),
        url(../fonts/NotoSansKr/NotoSansKR-Medium.woff) format('woff'),
        url(../fonts/NotoSansKr/NotoSansKR-Medium.otf) format('opentype');
}

@font-face {
   font-family: 'GmarketSansTTF';
   font-style: normal;
   font-weight: 600;
   src: url(/fonts/GmarketSansTTFBold.ttf) format('ttf'),
        url(/fonts/NotoSansKr/NotoSansKR-Bold.woff2) format('woff2'),
        url(/fonts/NotoSansKr/NotoSansKR-Bold.woff) format('woff'),
        url(/fonts/NotoSansKr/NotoSansKR-Bold.otf) format('opentype');
} 