
/* 공통 */
.mb00{margin-bottom: .5rem;}

.mt00{margin-top: .5rem;}
.mt10{margin-top: 1rem;}

.bggray{background: #f3f3f3;}

/* 로그인 */
.loginWrap{display: flex; justify-content: center; align-items: center; flex-flow: column nowrap; width: 100%; height: 100%; max-height: calc(100% - 7.6rem);}
.loginWrap .loginInner{width: 100%; height: 100%; max-height: 600px; background: #fff; border-radius: 20px;
    box-shadow: 7px 7px 7px rgba(108, 159, 240, .2);}
.loginWrap .loginInner .loginBanner{float: left; width: 50%; height: 100%;
    background: url("./images/login_img01.png") no-repeat center 75%, rgba(0, 99, 255, .1);
    border-radius: 20px 0 0 20px;}
.loginWrap .loginInner .loginBanner p{font-size: 1.3rem; font-weight: 600; color: #7c9eff; padding: 5rem 3rem 0; text-shadow: 3px 3px rgba(0, 99, 255, .1);}
.loginWrap .loginInner .loginBanner span{display: block; font-size: .8rem; color: #555; padding: .5rem 3rem 0;}
.loginWrap .loginInner .loginText{float: left; width: 50%; height: 100%;}
.loginWrap .loginInner .loginText .loginForm{height: 100%; padding: 3rem; box-sizing: border-box;}
.loginWrap .loginInner .loginText .loginForm .login_logo{padding-bottom: 1.5rem;}

.loginWrap .loginInner .loginText .loginForm .user_input{padding-bottom: .5rem;}
.loginWrap .loginInner .loginText .loginForm .user_input input{width: 100%; height: 2.5rem; font-size: .7rem; border: 1px solid #dedede; border-radius: 10px;
    padding-left: .5rem; margin-bottom: .5rem; box-sizing: border-box;}
.loginWrap .loginInner .loginText .loginForm .user_input .pwBox input:last-of-type{margin-bottom: 0;}

.loginWrap .loginInner .loginText .loginForm .checkbox_wrap{padding-bottom: 1rem; text-align: left;}
.loginWrap .loginInner .loginText .loginForm .checkbox_wrap input{display: inline-block;}
.loginWrap .loginInner .loginText .loginForm .checkbox_wrap p{display: inline-block; font-size: .7rem; color: #333;}
.loginWrap .loginInner .loginText .loginForm .submit{width: 100%; height: 2.5rem; font-size: .75rem; background: #84a5ff; color: #fff; border-radius: 10px; border: none; margin-bottom: 1rem; cursor: pointer;}

.loginWrap .loginInner .loginText .loginForm .login_bTxt ul{font-size: 0; text-align: center; padding-bottom: 3rem;}
.loginWrap .loginInner .loginText .loginForm .login_bTxt ul li{display: inline-block; padding-right: 1rem; border-right: 1px solid #dedede;}
.loginWrap .loginInner .loginText .loginForm .login_bTxt ul li:last-child{border-right: none; padding-right: 0; padding-left: 1rem;}
.loginWrap .loginInner .loginText .loginForm .login_bTxt ul li a{font-size: .75rem; color: #555;}

.loginWrap .loginInner .loginText .loginForm .google_submit{width: 100%; height: 3rem; background: url("./images/google_logo.png") no-repeat 5% center,#fff;
    font-size: .75rem; color: #333; border-radius: 10px; border: 1px solid #dedede; cursor: pointer;}


/* 회원정보수정 */
.loginWrap .loginInner .loginBanner.userinfo{background: url("./images/info_img.png") no-repeat center 75%, rgba(0, 99, 255, .1);}
